.cards-container {
  width: var(--card-size);
  height: var(--card-size);
  margin: var(--card-margin);
}

.card {
  width: var(--card-size);
  height: var(--card-size);
  background: #fff;
  border-radius: 10px;
  box-shadow: 4px 3px 3px rgb(0 0 0 / 20%);
  color: #000;
  text-shadow: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-out;
  cursor: pointer;
  position: absolute;
  border: 1px solid rgb(0 0 0 / 20%);

  &.highlighted {
    box-shadow: 10px 10px 30px rgb(0 0 0 / 70%);
    transform: scale(1.25) rotate(9deg);
    border: 1px solid rgb(0 0 0 / 30%);
    z-index: 1;
  }

  &.done {
    cursor: default;
  }
}

.front, .back {
  font-size: 20px;
  transition: all 500ms ease-out;
  position: absolute;

  &.hidden {
    opacity: 0;
    filter: blur(5px);
  }
}

.asana-card {
  width: 200px;
  height: 200px;
  transform: scale(var(--card-imaga-scale));
  border-radius: 10px;
}

.bg-Asthangaasana_1 {
  background: url("/assets/css_sprites.png") -10px -10px;
}

.bg-Asthangaasana_2 {
  background: url("/assets/css_sprites.png") -230px -10px;
}

.bg-BaddhaKonasana_1 {
  background: url("/assets/css_sprites.png") -10px -230px;
}

.bg-BaddhaKonasana_2 {
  background: url("/assets/css_sprites.png") -230px -230px;
}

.bg-Bakasana_1 {
  background: url("/assets/css_sprites.png") -450px -10px;
}

.bg-Bakasana_2 {
  background: url("/assets/css_sprites.png") -450px -230px;
}

.bg-Bhujangasana_1 {
  background: url("/assets/css_sprites.png") -10px -450px;
}

.bg-Bhujangasana_2 {
  background: url("/assets/css_sprites.png") -230px -450px;
}

.bg-Chatushpadasana_1 {
  background: url("/assets/css_sprites.png") -450px -450px;
}

.bg-Chatushpadasana_2 {
  background: url("/assets/css_sprites.png") -670px -10px;
}

.bg-cover_1 {
  background: url("/assets/css_sprites.png") -670px -230px;
}

.bg-Garudasana_1 {
  background: url("/assets/css_sprites.png") -670px -450px;
}

.bg-Garudasana_2 {
  background: url("/assets/css_sprites.png") -10px -670px;
}

.bg-Gomukhasana_1 {
  background: url("/assets/css_sprites.png") -230px -670px;
}

.bg-Gomukhasana_2 {
  background: url("/assets/css_sprites.png") -450px -670px;
}

.bg-Hansasana_1 {
  background: url("/assets/css_sprites.png") -670px -670px;
}

.bg-Hansasana_2 {
  background: url("/assets/css_sprites.png") -890px -10px;
}

.bg-cover_2 {
  background: url("/assets/css_sprites.png") -890px -230px;
  filter: contrast(1.4) brightness(0.95) grayscale(0.2);
}

.bg-KawaChalasana_1 {
  background: url("/assets/css_sprites.png") -890px -450px;
}

.bg-KawaChalasana_2 {
  background: url("/assets/css_sprites.png") -890px -670px;
}

.bg-Kurmasana_1 {
  background: url("/assets/css_sprites.png") -10px -890px;
}

.bg-Kurmasana_2 {
  background: url("/assets/css_sprites.png") -230px -890px;
}

.bg-MandukiAsana_1 {
  background: url("/assets/css_sprites.png") -450px -890px;
}

.bg-MandukiAsana_2 {
  background: url("/assets/css_sprites.png") -670px -890px;
}

.bg-Marjari_1 {
  background: url("/assets/css_sprites.png") -890px -890px;
}

.bg-Marjari_2 {
  background: url("/assets/css_sprites.png") -1110px -10px;
}

.bg-Matsyasana_1 {
  background: url("/assets/css_sprites.png") -1110px -230px;
}

.bg-Matsyasana_2 {
  background: url("/assets/css_sprites.png") -1110px -450px;
}

.bg-Mayurasana_1 {
  background: url("/assets/css_sprites.png") -1110px -670px;
}

.bg-Mayurasana_2 {
  background: url("/assets/css_sprites.png") -1110px -890px;
}

.bg-Mrigasana_1 {
  background: url("/assets/css_sprites.png") -10px -1110px;
}

.bg-Mrigasana_2 {
  background: url("/assets/css_sprites.png") -230px -1110px;
}

.bg-Shalabhasana_1 {
  background: url("/assets/css_sprites.png") -450px -1110px;
}

.bg-Shalabhasana_2 {
  background: url("/assets/css_sprites.png") -670px -1110px;
}

.bg-Shashankasana_1 {
  background: url("/assets/css_sprites.png") -890px -1110px;
}

.bg-Shashankasana_2 {
  background: url("/assets/css_sprites.png") -1110px -1110px;
}

.bg-Simhasana_1 {
  background: url("/assets/css_sprites.png") -1330px -10px;
}

.bg-Simhasana_2 {
  background: url("/assets/css_sprites.png") -1330px -230px;
}

.bg-Ushtrasana_1 {
  background: url("/assets/css_sprites.png") -1330px -450px;
}

.bg-Ushtrasana_2 {
  background: url("/assets/css_sprites.png") -1330px -670px;
}

.bg-Vyaghrasana_1 {
  background: url("/assets/css_sprites.png") -1330px -890px;
}

.bg-Vyaghrasana_2 {
  background: url("/assets/css_sprites.png") -1330px -1110px;
}
