.cards-container {
  width: var(--card-size);
  height: var(--card-size);
  margin: var(--card-margin);
}

.card {
  width: var(--card-size);
  height: var(--card-size);
  background: #fff;
  border-radius: 10px;
  box-shadow: 4px 3px 3px rgb(0 0 0 / 20%);
  color: #000;
  text-shadow: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-out;
  cursor: pointer;
  position: absolute;
  border: 1px solid rgb(0 0 0 / 20%);

  &.highlighted {
    box-shadow: 10px 10px 30px rgb(0 0 0 / 70%);
    transform: scale(1.25) rotate(9deg);
    border: 1px solid rgb(0 0 0 / 30%);
    z-index: 1;
  }

  &.done {
    cursor: default;
  }
}

.front, .back {
  font-size: 20px;
  transition: all 500ms ease-out;
  position: absolute;

  &.hidden {
    opacity: 0;
    filter: blur(5px);
  }
}

.asana-card {
  width: 200px;
  height: 200px;
  transform: scale(var(--card-imaga-scale));
  border-radius: 10px;
}
