.content {
  color: #ffffff;
  text-shadow: 3px 2px 3px rgb(0 0 0 / 12%);
  padding: var(--content-padding);
  background: linear-gradient(#817d7d, #35404a, #3e3d4e);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100vw - var(--content-padding) * 2);
  height: calc(100vh - var(--content-padding) * 2);

  .actions {
    margin: 0 0 var(--action-space) 0;

    button {
      font-size: 18px;
      margin: 0 2px;
      padding: 0;
      min-width: 50px;

      &.active {
        background: linear-gradient(#dc7936, #f98c42);
        color: #fff;
      }
    }
  }
}

.cards-container {
  app-card {
    float: left;
  }
}
