<div class="content">
  <div class="actions">
    <button mat-raised-button (click)="start(0)" [class.active]="level === 0">&#9867;</button>
    <button mat-raised-button (click)="start(1)" [class.active]="level === 1">&#9871;</button>
    <button mat-raised-button (click)="start(2)" [class.active]="level === 2">&#9869;</button>
    <button mat-raised-button (click)="start(3)" [class.active]="level === 3">&#9868;</button>
  </div>
  <div class="cards-container">
    <ng-container *ngFor="let card of randomCards, let i = index">
      <app-card [card]="card" [done]="isDone(card.id)" [highlighted]="isHighlighted(card.id)" [cheat]="cheat"
                (click)="select(card)"></app-card>
    </ng-container>
  </div>
</div>
<div class="cheat-box" (click)="cheat = !cheat">#</div>
