:root {
  --action-space: 10px;
  --content-padding: 20px;
  --card-size: 150px;
  --card-margin: 10px;
  --card-imaga-scale: 0.7;
}

@import "images.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  display: flex;
  flex-flow: row;
  background: #3e3d4e;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}
.mat-slider-thumb {
  transform: scale(0) !important;
}
.mat-slider-thumb-label-text {
  opacity: 1 !important;
}
.full-modal {
  .mat-dialog-container {
    padding: 0;
  }
}
@media (max-width: 900px) {
  :root {
    --action-space: 5px;
    --content-padding: 5px;
    --card-size: 100px;
    --card-margin: 5px;
    --card-imaga-scale: 0.48;
  }
}
